---
layout: default
numberPosts: 2
---

<!--Navigation Bar -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/img/apollo_logo_color.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-right">
        <a class="navbar-brand" href="#">HOME</a>
        <a class="navbar-brand" href="#">NEWS</a>
        <a class="navbar-brand" href="#">ABOUT</a>
        <a class="navbar-brand" href="#" style="color: #FF802F">SUBMIT A QUESTION</a>
    </div>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<!--Navigation Bar End-->

<!--Jumbotron-->
<div class="jumbotron" style="padding-bottom: 0px">
  <div class="container-fluid" style="padding: 0px">
    <div style="width: 100%; height: 50vh">
      <div class="rocket">
        <div class="apollo-hype">
          <div class='big-questions'>Big questions.</div>
          <div class='innovative-answers'>Innovative answers.</div>
          <div class='splash-tagline'>Apollo mixes a magical reading experience mixed with other cool stuff.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Jumbotron-->

<!--Main section-->
<div class="container-fluid">
  <section class = "post-section">

    {% for tag in site.categories %} 
      {% assign loopindex = forloop.index %}
      <ul class="post-list">
        <div class="row">
          <div class="col-sm-1">
              <h1 class="q">Q{{loopindex}}</h1>
          </div>

          {% assign pages_list = tag[1] %}  
          {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            <div class="col-sm-5 blog-main">
              <div class="blog-post" style="height: auto">
                <a href="{{post.url}}" class="hook-title">{{post.hook}}</a>
                <p class="blog-post-meta">POSED BY <a href="#"><span style="font-weight:bold">THE APOLLO TEAM</span></a></p>
                <img class="blog-post-image" src="assets/img/articles/{{post.hook_image_name}} ">
                <a href="{{post.url}}">
                  <div class = "read-answers-button">READ ANSWERS</div>
                </a>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
          {% assign pages_list = nil %}
          {% assign group = nil %}

          <!--Sidebar-->
          {% if loopindex == 1 %}
          <div class="col-sm-5 col-sm-offset-1 blog-sidebar no-small">
            <blockquote style="width:75%">
              <h4>ARTICLES</h4>
              <ol class="list-unstyled" style="font-size:12px; font-color: #3E3E3E">
                <li><a href="#">Will the Trojan Family crumble without the Greek System?</a></li>
                <br/>
                <li><a href="#">Are USC students healthy?</a></li>
              </ol>
            </blockquote>
            <a href="#">
              <div class="pose-a-question">
              POSE A QUESTION
              </div>
            </a>
          </div>
          {% endif %}
          <!--End sidebar-->

        </div>
      </ul>

    {% endfor %}

  </section>
</div>

<!--Footer-->
<footer class="footer">
  <div class="container">
    <div style="margin:auto; text-align:center">
      <img style="height: 2vh" src="assets/img/apollo_logo_grey.png">
      <span class="text-muted">APOLLO // COPYRIGHT 2015</span>
    </div>
  </div>  
</footer>
<!--End Footer-->