<html>

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}"/>
  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Main Section  -->
  <div class="container-fluid">
    <div class="header">
      <img class="header-logo" src="{{url_for('static', filename='img/logo.png')}}"/>
      <div class="header-apollo">Apollo</div>
      <input>
        <textarea class="header-search"></textarea>
      </input>
    </div>
    <section class = "post-section">
      <ul class="post-list">
        {% for question in questions %} 
        <li class="row">
            <div class="post-container">
              <div class="post-tile">
                <div class="row question-container" style="background-image: url('{{question.image_url}}');">

                  <!-- Photo Color Overlay -->
                  {% if loop.index0 % 2 == 0 %}
                  <div class="blue-overlay"></div>
                  {% endif %}
                  {% if loop.index0 % 2 == 1 %}
                  <div class="yellow-overlay"></div>
                  {% endif %}
                  <div class="col-sm-1"></div>

                  <!-- Big Q Color -->
                  {% if loop.index0 % 2 == 0 %}
                  <div class="col-sm-2 yellow big-q">Q</div>
                  {% endif %}
                  {% if loop.index0 % 2 == 1 %}
                  <div class="col-sm-2 blue big-q">Q</div>
                  {% endif %}

                  <div class="col-sm-9 post-title">{{question.title}}</div>
                </div>
                <div class="row answer-peek">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-3 answer-yes">
                    <div style="font-family: 'Bitter'">Person Says</div>
                    <img class="answer-headshot" src="{{url_for('static', filename='img/one.jpg')}}"/>
                    <div class="yes">YES</div>
                  </div>
                  <div class="col-sm-4 answer-maybe">
                    <div style="font-family: 'Bitter'">Person Says</div>
                    <img class="answer-headshot" src="{{url_for('static', filename='img/two.jpg')}}"/>
                    <div class="maybe">MAYBE</div>
                  </div>
                  <div class="col-sm-3 answer-no">
                    <div style="font-family: 'Bitter'">Person Says</div>
                    <img class="answer-headshot" src="{{url_for('static', filename='img/three.jpg')}}"/>
                    <div class="no">NO</div>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <div class="what-do-you-think">What do you think?</div>
                <div style="width:100%; text-align: center">
                  <div class="yellow-bar"></div>
                </div>
              </div>
            </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <!-- End Main Section -->
</body>

</html>