@font-face {
    font-family: "Klinic Slab";
    src: url("/static/fonts/klinicslab/KlinicSlab-Bold.otf");
    // font-weight: bold;
    // font-style: normal;
}

@font-face {
    font-family: "Kursivschrift Stehend";
    src: url("/static/fonts/KursivschriftStehend.ttf");
    // font-weight: bold;
    // font-style: normal;
}

html {
    font-style: "Lato";
}

ul {
    padding: 0;
    list-style-type: none;
}

ul>li:nth-child(odd){
    background-color:white;
}​

ul>li:nth-child(even){
    background-color:#F2F2F2;
}

.container-fluid {
    background-color: #F2F2F2;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    flex: center;
}

.header-apollo {
    color: #11333C;
    font-size: 26px;
    font-family: "Bitter";
    display: inline;
    padding: 12px;
    margin-left: 10px;
}

.header-logo {
    magin: 0 20px;
    height: 40px;
    width: auto;
}

.header-search {
    width: 200px;
    border-radius: 8px;
    height: 30px;
    margin: 0 20px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0;
    // border-width: 0;
    // outline-width: 0;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    text-align: center;
    padding-top: 5px;
}

.blue-line {
    margin: auto;
    height: 2px;
    width: 200px;
    background-color: #38517b;
}

.colab-text {
    font-family: Lato;
    padding: 10px;
    font-size: 16px;
    color: #D8A03D;
}

.post-container {
    height: 550px;
}

.post-tile {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.2);
    background-color: white;
}

.question-container{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    text-align: center;

    // Centering for items
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.blue-overlay {
    position: absolute;
    width: 600px;
    height: 200px;
    opacity: .60;
    background-color: #002a73;
}

.yellow-overlay {
    position: absolute;
    width: 600px;
    height: 200px;
    opacity: .60;
    background-color: #f7a83d;
}

.big-q {
    font-family: "Kursivschrift Stehend";
    margin-top: 20px;
    font-size: 95px;
}

.yellow {
    color: #f2b33f;
}

.blue {
    color: #002a73;
}

.post-title {
    font-family: "Klinic Slab";
    font-size: 36px;
    color: white;
}

.answer-peek {
    padding-top: 30px;
    text-align: center;
}

.answer-headshot {
    width: 70px;
    height: 70px;
    border-radius: 180px;
    margin: 10px;
}

.yes {
    color: #8faa36;
}

.maybe {
    color: #d79f46;
}

.no {
    color: #ba4042;
}

.yes, .no, .maybe {
    font-family: "Lato";
    font-weight: 800;
    font-size: 20px;
}

.what-do-you-think {
    padding: 20px;
    font-family: "Bitter";
    font-size: 30px;
    text-align: center;
}

.answer-yes {
    padding-left: 60px;
    padding-right: 0;
}

.answer-maybe {
}

.answer-no {
    padding-right: 60px;
    padding-left: 0;
}

.yellow-bar {
    position: relative;
    margin: auto;
    height: 2px;
    width: 300px;
    background-color: #f2b33f;
}
